{% extends "base_site.html" %} {% block title %} Detail Dokumen {% endblock
title %} {% block stylesheets %} {{ super() }} {% endblock stylesheets %} {%
block content %}
<div class="right_col" role="main">
  <div class="row">
    <div class="col-sm-12">
      <embed
        src="{{url_for('view_doc_sign', id= data.id)}}"
        type=""
        width="1200"
        height="680"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
  </div>
</div>

{% endblock content %} {% block javascripts %} {{ super()}} {% endblock
javascripts %}
