<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0">
    <a href="" class="site_title">
      <!-- <img  height="80" src="{{ url_for('static', filename='images/logo-digi.png') }}" alt=""> -->
      <i class="fas fa-signature"></i> <span>UPB DigiSign</span></a
    >
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      {% if current_user.p_profile is none %}
      <img
        src="{{ url_for('static', filename='images/user.png')}}"
        alt="..."
        class="img-circle profile_img"
      />
      {% else %}
      <img
        src="{{ url_for('static', filename='uploads/photos/')}}{{ current_user.p_profile }}"
        alt="..."
        class="img-circle profile_img"
      />
      {% endif %}
    </div>
    <div class="profile_info">
      <span>{{ current_user.name }}</span>
      <h2></h2>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General</h3>
      <ul class="nav side-menu">
        <li>
          <a href="/dashboard"><i class="fa fa-home"></i> Home </a>
        </li>
        {% if current_user.role.name=='Dosen' or current_user.role.name=='Prodi'
        or current_user.role.name =='Dekan'%}
        <li>
          <a
            ><i class="fa fa-bell-o"></i> Permintaan
            <!-- <span id="notif" class="badge bg-red"></span> -->
          </a>
          <ul class="nav child_menu">
            {% if current_user.role.name=='Dosen' %}
            <li>
              <a href="{{url_for('p_penguji_1')}}"
                >Dosen Penguji 1 <span id="peng1" class="badge bg-red"></span
              ></a>
            </li>
            <li>
              <a href="{{url_for('p_penguji_2')}}"
                >Dosen Penguji 2 <span id="peng2" class="badge bg-red"></span
              ></a>
            </li>
            <li>
              <a href="{{url_for('p_pembimbing_1')}}"
                >Dosen Pembimbing 1 <span id="pem1" class="badge bg-red"></span
              ></a>
            </li>
            <li>
              <a href="{{url_for('p_pembimbing_2')}}"
                >Dosen Pembimbing 2 <span id="pem2" class="badge bg-red"></span
              ></a>
            </li>
            {% endif %}{% if current_user.role.name=='Prodi' %}
            <li>
              <a href="{{url_for('p_prodi')}}"
                >Prodi <span id="prodi" class="badge bg-red"></span>
              </a>
            </li>
            {% endif %} {% if current_user.role.name=='Dekan' %}
            <li>
              <a href="{{url_for('p_dekan')}}"
                >Dekan <span id="dekan" class="badge bg-red"></span
              ></a>
            </li>
            {% endif %}
          </ul>
        </li>
        <li>
          <a href="{{url_for('skripsi_complete')}}"
            ><i class="fa fa-pencil"></i> Di TandaTangani
          </a>
        </li>
        {% endif %} {% if current_user.role.name=='User' %}
        <li>
          <a
            ><i class="fa fa-file-pdf-o"></i> Document
            <span class="fa fa-chevron-down"></span
          ></a>
          <ul class="nav child_menu">
            <!-- <li>
              <a href="{{ url_for('upload_file') }}">Upload File KKP/KKN</a>
            </li> -->
            <li>
              <a href="{{ url_for('upload_skripsi') }}">Upload File Skripsi</a>
            </li>
            <!-- <li><a href="{{ url_for('diupload') }}">Diupload</a></li> -->
            <li>
              <a href="{{ url_for('skripsi_diupload') }}">Skripsi Diupload</a>
            </li>
            <!-- <li>
              <a href="{{ url_for('sign_file_all') }}">Di TandaTangani</a>
            </li> -->
            <!-- <li>
              <a href="{{ url_for('download_template') }}">Download Template</a>
            </li> -->
          </ul>
        </li>
        {% endif %} {% if current_user.role.name=='Administrator' %}
        <li>
          <a
            ><i class="fa fa-user"></i> Admin
            <span class="fa fa-chevron-down"></span
          ></a>
          <ul class="nav child_menu">
            <li>
              <a href="{{url_for('all_mhs')}}">Data Mahasiswa</a>
            </li>
            <li><a href="{{url_for('all_dosen')}}">Data Dosen</a></li>
            <li>
              <a href="{{url_for('all_prodi')}}">Data Prodi</a>
            </li>
            <li>
              <a href="{{url_for('all_dekan')}}">Data Dekan</a>
            </li>
          </ul>
        </li>
        {% endif %}
        <li>
          <a href="#"
            ><i class="fa fa-gear"></i> Settings
            <span class="fa fa-chevron-down"></span>
          </a>
          <ul class="nav child_menu">
            <li>
              <a href="{{url_for('profile', id = current_user.id)}}">Profile</a>
            </li>
            {% if current_user.role.name=='Administrator' %}
            <li><a href="{{url_for('template')}}">Template</a></li>
            {% endif %} {% if current_user.role.name =='Dosen' or
            current_user.role.name =='Prodi' or current_user.role.name =='Dekan'
            %}
            <li>
              <a href="{{url_for('signature', id = current_user.id)}}"
                >Tanda Tangan</a
              >
            </li>

            <li>
              <a href="{{url_for('sertifikat', id = current_user.id)}}"
                >Sertifikat</a
              >
            </li>
            {% endif %}
          </ul>
        </li>
      </ul>
      <script>
        fetch('{{ url_for("new_notif") }}').then(function (res) {
          if (res.status !== 200) {
            console.log("error" + res.status);
            return;
          }
          res.json().then(function (data) {
            // console.log(data.total);
            // console.log(data.prodi);
            if (data.peng1 !== 0) {
              {% if current_user.role.name=='Dosen' %}
              document.getElementById("peng1").innerHTML = data.peng1;
            }else if (data.peng2 !== 0) {
              document.getElementById("peng2").innerHTML = data.peng2;
            }else if (data.pem1 !== 0) {
              document.getElementById("pem1").innerHTML = data.pem1;
            }else if (data.pem2 !== 0) {
              document.getElementById("pem2").innerHTML = data.pem2;
              {% endif %}
            }else if(data.prodi !== 0){
              {% if current_user.role.name=='Prodi' %}
              if(data.prodi !== 0){
              document.getElementById("prodi").innerHTML = data.prodi;
              }
              {% endif %}
            }else{
              {% if current_user.role.name=='Dekan' %}
              if(data.dekan !== 0){
              document.getElementById("dekan").innerHTML = data.dekan;
              }
              {% endif %}
            }
          });
        });
      </script>
    </div>
  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Settings">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
      <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Lock">
      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>
    <a
      data-toggle="tooltip"
      data-placement="top"
      title="Logout"
      href="{{ url_for('logout') }}"
    >
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
  </div>
  <!-- /menu footer buttons -->
</div>
