{% extends "base_site.html" %} {% block title %} Permintaan {% endblock title %}
{% block stylesheets %} {{ super() }} {% endblock stylesheets %} {% block
content %}
<div class="right_col" role="main">
  <!-- {{data}} -->
  <div class="">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        {% for category, message in get_flashed_messages(with_categories=true)
        %}
        <div class="alert alert-{{ category }} alert-dismissible " role="alert">
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
          {{ message }}
        </div>
        {% endfor %}
      </div>
      {% if current_user.role.name=='Dosen' %}
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Permintaan Tanda tangan Dosen Penguji 1</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a
                  href="#"
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                  role="button"
                  aria-expanded="false"
                  ><i class="fa fa-wrench"></i
                ></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a></li>
                  <li><a href="#">Settings 2</a></li>
                </ul>
              </li>
              <li>
                <a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <!-- <p class="text-muted font-13 m-b-30">
              DataTables has most features enabled by default, so all you need to
              do to use it with your own tables is to call the construction
              function: <code>$().DataTable();</code>
            </p> -->
            <table id="datatable" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Nama Mahasiswa</th>
                  <th>Nama File</th>
                  <th>Tanggal Upload</th>
                  <th>Dosen Penguji</th>
                  <th>Detail</th>
                  <th>Action</th>
                </tr>
              </thead>

              <tbody>
                {% for i in data %}
                <tr>
                  <td>{{ loop.index}}</td>
                  <td>{{i.doc.name}}</td>
                  <td>{{i.filename}}</td>
                  <td>
                    {{ moment(i.date_upload).format('Do MMMM YYYY, h:mm:ss a')
                    }}
                  </td>
                  <td>1. {{i.dosen1 }}<br />2. {{i.dosen2}}</td>
                  <td>
                    <a
                      href="{{ url_for('detail_file', id=i.id) }}"
                      class="btn btn-success"
                      >Detail</a
                    >
                  </td>
                  <td>
                    <a
                      href="{{ url_for('view_bytes', id=i.id) }}"
                      class="btn btn-danger"
                      >Tanda Tangani</a
                    >
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Permintaan Tanda tangan Dosen Penguji 2</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a
                  href="#"
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                  role="button"
                  aria-expanded="false"
                  ><i class="fa fa-wrench"></i
                ></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a></li>
                  <li><a href="#">Settings 2</a></li>
                </ul>
              </li>
              <li>
                <a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <!-- <p class="text-muted font-13 m-b-30">
              DataTables has most features enabled by default, so all you need to
              do to use it with your own tables is to call the construction
              function: <code>$().DataTable();</code>
            </p> -->
            <table id="datatable" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Nama Mahasiswa</th>
                  <th>Nama File</th>
                  <th>Tanggal Upload</th>
                  <th>Dosen Penguji</th>
                  <th>Detail</th>
                  <th>Action</th>
                </tr>
              </thead>

              <tbody>
                {% for c in data1 %}
                <tr>
                  <td>{{ loop.index}}</td>
                  <td>{{c.doc.name}}</td>
                  <td>{{c.filename}}</td>

                  <td>
                    {{ moment(c.date_upload).format('Do MMMM YYYY, h:mm:ss a')
                    }}
                  </td>
                  <td>1. {{c.dosen1 }}<br />2. {{c.dosen2}}</td>
                  <td>
                    <a
                      href="{{ url_for('detail_file', id=c.id) }}"
                      class="btn btn-success"
                      >Detail</a
                    >
                  </td>
                  <td>
                    <a
                      href="{{ url_for('view_bytes', id=c.id) }}"
                      class="btn btn-danger"
                      >Tanda Tangani</a
                    >
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {% endif %} {% if current_user.can(16) %}
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Permintaan Tanda tangan Prodi</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a
                  href="#"
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                  role="button"
                  aria-expanded="false"
                  ><i class="fa fa-wrench"></i
                ></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a></li>
                  <li><a href="#">Settings 2</a></li>
                </ul>
              </li>
              <li>
                <a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <!-- <p class="text-muted font-13 m-b-30">
              DataTables has most features enabled by default, so all you need to
              do to use it with your own tables is to call the construction
              function: <code>$().DataTable();</code>
            </p> -->
            {% if data3 == none %}
            <h1>Tidak Ada Permintaan</h1>
            {% else %}
            <table id="datatable" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Nama Mahasiswa</th>
                  <th>Nama File</th>
                  <th>Tanggal Upload</th>
                  <th>Dosen Penguji</th>
                  <th>Detail</th>
                  <th>Action</th>
                </tr>
              </thead>

              <tbody>
                {% for x, y in data3 %}
                <tr>
                  <td>{{ loop.index}}</td>
                  <td>{{x.sign.doc.name}}</td>
                  <td>{{x.sign.filename}}</td>
                  <td>
                    {{ moment(x.date).format('Do MMMM YYYY, h:mm:ss a') }}
                  </td>
                  <td>1. {{x.sign1 }}<br />2. {{x.sign2}}</td>
                  <td>
                    <a
                      href="{{ url_for('detail_sign_file', id=x.id) }}"
                      class="btn btn-success"
                      >Detail</a
                    >
                  </td>
                  <td>
                    <a
                      href="{{ url_for('view_bytes_sign', id=x.id) }}"
                      class="btn btn-danger"
                      >Tanda Tangani</a
                    >
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock content %} {% block javascripts %} {{ super()}} {% endblock
javascripts %}
