{% extends "base_site.html" %} {% block title %} HOME {% endblock title %} {%
block stylesheets %} {{ super() }} {% endblock stylesheets %} {% block content
%}
<div class="right_col" role="main">
  <div class="col-md-12 col-sm-12 col-xs-12">
    {% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{ category }} alert-dismissible " role="alert">
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">×</span>
      </button>
      {{ message }}
    </div>
    {% endfor %}
  </div>
  <div class="">
    <div class="row">
      {% if current_user.role_id == 1 %}
      <div class="top_tiles">
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6">
          <div class="tile-stats">
            <div class="icon"><i class="fa fa-file-pdf-o"></i></div>
            <div class="count">Total {{file}}</div>
            <h3>Dokumen</h3>
            <p>Telah Di upload</p>
          </div>
        </div>
      </div>
      {% endif %} {% if current_user.can(8) %}
      <div class="top_tiles">
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6">
          <div class="tile-stats">
            <div class="icon"><i class="fa fa-file-pdf-o"></i></div>
            <div class="count">Total {{data}}</div>
            <h3>Dokumen</h3>
            <p>Telah Di Tandatangani</p>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="top_tiles">
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6">
          <div class="tile-stats">
            <div class="icon"><i class="fa fa-user"></i></div>
            <div class="count">Total {{dosen}}</div>
            <h3>Dosen</h3>
            <p>Terdaftar</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Validasi File <small>Cek Tanda Tangan Digital</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a
                  href="#"
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                  role="button"
                  aria-expanded="false"
                  ><i class="fa fa-wrench"></i
                ></a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Settings 1</a>
                  <a class="dropdown-item" href="#">Settings 2</a>
                </div>
              </li>
              <li>
                <a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <form
              class="form-horizontal form-label-left"
              novalidate
              action="{{ url_for('valid') }}"
              method="POST"
              enctype="multipart/form-data"
            >
              <div class="item form-group">
                <label
                  class="control-label col-md-3 col-sm-3 col-xs-12"
                  for="email"
                  >File <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input
                    type="file"
                    id="file"
                    name="file"
                    required="required"
                    class="form-control col-md-7 col-xs-12"
                    accept=".pdf"
                  />
                </div>
              </div>
              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-6 col-md-offset-3">
                  <!-- <button type="submit" class="btn btn-primary">Cancel</button> -->
                  <button id="send" type="submit" class="btn btn-success">
                    Submit
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %} {% block javascripts %} {{ super()}} {% endblock
javascripts %}
